.login {
    height: 100vh;
    padding: 9% 12% 15%;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom right, #A5E1AD, #4CA1A3);
}

.login-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 5rem;
    color: #511281;
}

.login-form {
    margin-top: 2rem;
}

.login-form > label {
    margin: 1rem 0;
}

.login-input {
    padding: 1rem;
    background-color: #ebebeb;
    border: none;
}

.login-button {
    margin-top: 2rem;
    background-color: #21094E;
    border: none;
    color: #A5E1AD;
    border-radius: 1rem;
    padding: 1rem;
}

.login-button:disabled {
    cursor: not-allowed;
}

.login-register-button {
    position: absolute;
    top: 9rem;
    right: 3rem;
    background-color: #8E05C2;
    border: none;
    padding: 1rem;
    color: #000000;
    border-radius: 1rem;
}