.home {
    background-color: #050505;
    color: #EBEBEB;
    margin: 0 9rem;
}

.about {
    padding: 9% 12% 9%;
}

.margin-bottom-big  {
    margin-bottom: 8rem;
}

.heading-secondary {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #511281;
}

.heading-tertiary {
    letter-spacing: 0.2rem;
    color: #8E05C2;
    font-weight: 400;
}

.subtitles {
    letter-spacing: 0.2rem;
    color: #4CA1A3;
}

.about-text {
    line-height: 2;
    color: #F3F1F5;
}

.about-icon {
    padding-right: 1rem;
    color: #700B97;
}

.features {
    background-image: linear-gradient(to right bottom, rgba(76, 161, 163, 0.8), rgba(165, 225, 173, 0.8)), url(../../images/features-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 19.5vh;
    max-width: 185rem;
}

.online-classes {
    padding: 18rem 12rem;
}

.price-plans {
    padding: 18rem 12rem;
}

.subscribe {
    padding: 18rem 12rem;
}

.blog-home {
    background-image: linear-gradient(to right bottom, rgba(76, 161, 163, 0.8), rgba(165, 225, 173, 0.8)), url(../../images/latesBlog-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 18rem 12rem;
}

