.article-img {
    width: 45%;
    margin: 0 3rem 3rem 0;
}

.article-heading-primary {
    color: #BFA2DB;
    font-size: 4.5rem;
}

.update-title {
  background-color: transparent;
  color: inherit;
  margin: 1rem;
  font-size: 2.8rem;
  border: none;
  border-bottom: 1px solid;
}

.update-title:focus {
  outline: none;
}

.article-highlight {
  padding: 3rem 6rem 3rem;
  position: relative;
  overflow: hidden;
  width: 46rem;
}

.article-highlight-text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
}

.article-highlight::before {
    content: '\201C';
    position: absolute;
    top: -0.75rem;
    left: -0.8rem;
    line-height: 1;
    font-size: 20rem;
    color: #3E065F;
    font-family: sans-serif;
    z-index: 1;
  }

.article-highlight::after {
    content: '\201D';
    position: absolute;
    top: 22.75rem;
    left: 40rem;
    line-height: 1;
    font-size: 20rem;
    color: #3E065F;
    font-family: sans-serif;
    z-index: 1;
  }

  .update-desc {
    border: none;
    background-color: transparent;
  }

  .update-desc:focus {
    outline: none;
  }

  .update-button {
    width: 10rem;
    font-size: 1.5rem;
    align-self: end;
  }

  .fa-solid {
    transition: all .2s;
    font-size: 2.4rem;
    cursor: pointer;
  }

  .fa-solid:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(77, 0, 77, 0.1);
  }

  .fa-solid:active, .fa-solid:focus {
    transform: translate(-1px);
    box-shadow: 0 0.5rem 1rem rgba(77, 0, 77, 0.1);
  }

  .fa-pen-to-square {
    color: #00b33c;
  }

  .fa-trash-can {
    color: #e60000;
  }